[project]
	description = library managerment
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sengkimyin
[access "refs/for/refs/*"]
	read = group user/sengkimyin
	push = group user/sengkimyin
	label-Code-Review = -2..+2 group user/sengkimyin
	label-Verified = -1..+1 group user/sengkimyin
	rebase = group user/sengkimyin
	removeReviewer = group user/sengkimyin
	submit = group user/sengkimyin
[access "refs/heads/*"]
	read = group user/sengkimyin
	create = group user/sengkimyin
	push = +force group user/sengkimyin
	pushMerge = group user/sengkimyin
[access "refs/tags/*"]
	push = +force group user/sengkimyin
	pushTag = group user/sengkimyin
	pushSignedTag = group user/sengkimyin
